/* This is the css file for documentation html file */
*{
    font-family: 'Open Sans', sans-serif;
}

#Welcome{
    font-family: 'Open Sans', sans-serif;
}

#overview{
    background-image: none;
}

#overview:hover {
    background-color: whitesmoke;
    width: 30%;
    border-radius: 12px;
    cursor: grab;
}

.is-large{
    font-size: 20px;
    font-weight: bolder;
}

#getting-started{
    background-image: none;
}

#getting-started:hover{
    background-color: whitesmoke;
    width: 30%;
    border-radius: 12px;
    cursor: grab;
}