/*
Welcome to the fresh-ui css.This is the fresh ui css file.
It's based on the material design by google.
*/

@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap);
@import url(src/animate.min.css);
:root{
    --fr-ui-blue:#0d6efd;
    --fr-ui-indigo:#6610f2;
    --fr-ui-purple:#6f42c1;
    --fr-ui-pink:#d63384;
    --fr-ui-red:#dc3545;
    --fr-ui-orange:#fd7e14;
    --fr-ui-yellow:#ffc107;
    --fr-ui-green:#28a745;
    --fr-ui-teal:#20c997;
    --fr-ui-cyan:#17a2b8;
    --fr-ui-white:#fff;
    --fr-ui-gray:#6c757d;
    --fr-ui-gray-dark:#343a40;
    --fr-ui-primary:#0d6efd;
    --fr-ui-secondary:#6c757d;
    --fr-ui-success:#28a745;
    --fr-ui-info:#17a2b8;
    --fr-ui-warning:#ffc107;
    --fr-ui-danger:#dc3545;
    --fr-ui-light:#f8f9fa;
    --fr-ui-dark:#343a40;
    --fr-ui-font-sans-serif:system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --fr-ui-font-monospace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --fr-ui-gradient:linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0))
}
.destroy{color:#fff;font-weight:700}
.none{display:none}
.des{background:0 0;color:inherit;border:none;padding:0;font:inherit;cursor:pointer;outline:inherit}
.btn{border:none;padding:15px 32px;color:#fff;text-align:center;text-decoration:none;display:inline-block;font-size:15px}
.btn-fr-ui{background-color:#2196f3;border:none;padding:15px 32px;font-weight:700;text-align:center;text-decoration:none;display:inline-block;font-size:15px}
.btn-secondary{background-color:#ff3d00;border:none;padding:15px 32px;text-align:center;text-decoration:none;display:inline-block;font-size:15px}
.btn-black{background-color:#000;color:#fff;border:none;padding:15px 32px;text-align:center;text-decoration:none;display:inline-block;font-size:14px}
.btn-primary{background-color:#81c784;border:none;padding:15px 32px;text-align:center;text-decoration:none;display:inline-block;font-size:15px}
.fr-ui-input{border-radius:12px;width: 50%;padding: 12px 20px;margin: 8px 0;box-sizing: border-box;}
.btn-blue-gradient{background: linear-gradient(40deg,#45cafc,#303f9f) !important;color:white !important;}
.btn-aqua-gradient{background: linear-gradient(40deg,#2096ff,#05ffa3) !important;color:white;}
.btn-rainbow-gradient{background:linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet)!important;color:white !important}
.checkbox-fr-ui{display:block;position:relative;padding-left:35px;margin-bottom:12px;cursor:pointer;font-size:22px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.fr-ui-muted{color:#d3d3d3}
.fr-ui-primary{color:#2196f0}
.fr-ui-success{color:#90ee90}
.fr-ui-info{color:#0080ff}
.fr-ui-dark{color:#a9a9a9}
.fr-ui-danger{color:red}
.fr-ui-warning{color:orange}
.alert{border-radius:3px;background-color:grey;width:100px;text-align:center}
.alert-success{border-radius:3px;background-color:#93e9be;color:#006400}
.alert-info{border-radius:3px;background-color:#b2e0dd;color:#2baaff}
.alert-warning{border-radius:3px;background-color:#fed8b1;color:orange}
.alert-danger{border-radius:3px;background-color:red;color:#ff8635}
.alert-primary{border-radius:3px;background-color:#8deeee;color:#00c5cd}
.alert-secondary{border-radius:3px;background-color:#d3d3d3;color:#a9a9a9}
.alert-dark{border-radius:3px;background-color:grey;color:#000}
.fr-ui-pbar{height:4px;width:100%;background:#555;-moz-border-radius:25px;-webkit-border-radius:25px;border-radius:25px;padding:10px;box-shadow:inset 0 -1px 1px rgba(255,255,255,.3)}
.navbar{list-style-type:none;margin:0;padding:0;overflow:hidden;background-color:#000}.navbar-li{float:left}.navbar-li a{display:block;color:#fff;text-align:center;padding:14px 16px;text-decoration:none}
.navbar-li a:hover{background-color:#333}.active{background-color:#2196f3}.navbar-li{border-right:1px solid #bbb}.navbar-li:last-child{border-right:none}a{text-decoration-style:none;text-decoration:none;font-family:"Open Sans",sans-serif}
a:hover{font-family:"Open Sans",sans-serif}
img{vertical-align:middle;border-style:none}
svg{overflow:hidden;vertical-align:middle}
.container,.container-fluid,.container-lg,.container-md,.container-sm,.container-xl{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}
