.btn{
    border:none;
    padding:15px 32px;
    color:#fff;
    text-align:center;
    text-decoration:none;
    display:inline-block;
    font-size:15px;
}
.btn-fr-ui{
    background-color:#2196f3;
    border:none;
    padding:15px 32px;
    font-weight:700;
    text-align:center;
    text-decoration:none;
    display:inline-block;
    font-size:15px;
}
.btn-secondary{
    background-color:#ff3d00;
    border:none;padding:15px 32px;
    text-align:center;
    text-decoration:none;
    display:inline-block;
    font-size:15px;
}
.btn-black{
    background-color:#000;
    color:#fff;
    border:none;
    padding:15px 32px;
    text-align:center;
    text-decoration:none;
    display:inline-block;
    font-size:14px
}
.btn-primary{
    background-color:#81c784;
    border:none;
    padding:15px 32px;
    text-align:center;
    text-decoration:none;
    display:inline-block;
    font-size:15px
}
.btn-blue-gradient{
    background: linear-gradient(40deg,#45cafc,#303f9f) !important;
    color:white !important;
}
.btn-aqua-gradient{
    background: linear-gradient(40deg,#2096ff,#05ffa3) !important;
    color:white;
}
.btn-rainbow-gradient{
    background:linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet)!important;
    color:white !important
}