$dark-bg: black;
$dark-text: #fff;
$aqua-bg: #2196f3;
$aqua-text: #fff;
$light-bg: #fff;
$light-text: #111;
$sans-font: 'Poppins';
$sans-font2: 'Open Sans';

[theme="dark"] {
    background: $dark-bg;
    color: $dark-text;
    font-family: $sans-font,sans-serif;
}

[theme="light"] {
    background: $light-bg;
    color: $light-text;
    font-family: $sans-font,sans-serif;
}

[theme="aqua"] {
    background: $aqua-bg;
    color: $aqua-text;
    font-family: $sans-font,sans-serif;
}