$dark-bg: #111;
$dark-text: #fff;
$aqua-bg: #2196f3;
$aqua-text: #fff;
$light-bg: #fff;
$light-text: #111;

[theme="dark"] {
    background: $dark-bg;
    color: $dark-text;
}

[theme="light"] {
    background: $light-bg;
    color: $light-text;
}

[theme="aqua"] {
    background: $aqua-bg;
    color: $aqua-text;
}

[theme="dracula"] {
    background: $dark-bg;
    color: #ff0000;
}